<h1>Favorite Restaurants</h1>
<p>Find me in app/views/restaurants/favorite.html.erb</p>


<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
		<td> <% @favorites.each do |c_f| %> </td>
			<tr>
			 	<td>    <%= c_f.name %> </td>
			 	<td>    <%= c_f.category %> </td>
			<% end %>
		</tr>
	</tbody>
</table>
