<h1>Favorite Restaurants</h1>
<p>Find me in app/views/restaurants/favorite.html.erb</p>

<small>Into the following table, you must list the favorite restaurants (remove this suggestion)</small>

<table>
	<thead>
		<tr>
			<th>Column 1</th>
			<th>Column 2</th>
		</tr>
	</thead>
	<tbody>
		<% @parameter1.each do |nombRestaurant| %>
			<tr>
				<td><%=nombRestaurant%></td>
				<td>A 2</td>
			</tr>
			<tr>
				<td>B 1</td>
				<td>B 2</td>
			</tr>
		<% end %>
	</tbody>
</table>
