<h1>Favorite Restaurants</h1>
<p>Find me in app/views/restaurants/favorite.html.erb</p>

<small>Into the following table, you must list the favorite restaurants (remove this suggestion)</small>

<table>
	<thead>
		<tr>
			<th>Name </th>
			<th>Category </th>
		</tr>
	</thead>
	<tbody>
		<% unless @favorites.nil? %>
			<% @favorites.each do |t| %>
				<tr>
					<td> <%=t.name%> </td>
					<td> <%=t.category%> </td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
