<style>
#class{
	margin-left: 300px
}
</style>
<body>
<h1>Favorite Restaurants</h1>
<p>Find me in app/views/restaurants/favorite.html.erb</p>

<small>Into the following table, you must list the favorite restaurants (remove this suggestion)</small>

<table>
	<thead>
		<tr>
			<th>Name</th>			
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
		<% @favorites.each do |favorite| %>	
		<tr>
			<td id = "name"><%= favorite.name %></td>
			<td id = "class"><%= favorite.category %></td>			
		</tr>
		<%end%>
	</tbody>
</table>
</body>