<h1>Favorite Restaurants</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
	  <% unless @favorites.nil? %>
	    <% @favorites.each do |f|  %>
		<tr>
			<td><%= f.name %></td>
			<td><%=f.category %></td>
		</tr>
	  	<% end %>
	  <% else %>
	  	<p> @favorites is empty! </p>
	  <% end %>
	</tbody>
</table>
